<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset=utf-8>
	<title>ReciclAPI</title>
	<link rel="stylesheet" href="../static/styles.css">
</head>
	
<body>
	<img src="../static/img/reciclapi_logo.png" width="400"/> 
	<h2>Upload a picture of your waste and guess where you should recycle it!</h2> 

		<form action="/upload" method="post" enctype="multipart/form-data">
			<input class="button2" type="file" name="upload" />
			<input class="button" type="submit" value="Start upload" />
		</form>


</body>

</html>