<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset=utf-8>
	<title>ReciclAPI</title>
	<link rel="stylesheet" href="../static/styles.css">
</head>

<body>
	<a href="/"><img src="../static/img/reciclapi_logo.png" width="400"/></a>
	<h2>This seems to be <span style= "color:rgb(116, 116, 116);font-size:35px">metal</span>. You must throw it in the <span style="color:#e6e600;font-size:35px"> yellow</span> container. </h2> 
	<div>
		<img src="../static/img/contenedores-reciclaje.jpg" width="800"/> 
	</div>
</body>

</html>