<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset=utf-8>
	<title>ReciclAPI</title>
	<link rel="stylesheet" href="../static/styles.css">
</head>

<body>
	<img src="../static/img/reciclapi_logo.png" width="400"/> 
	<h2>This seems to be <span style= "color:rgb(116, 116, 116);font-size:35px">trash</span>. Is it organic? Then trow it in the <span style="color:#9c5300;font-size:35px">brown</span> container. All the rest must go into the <span style="color:#a1a1a1;font-size:35px">gray</span> one. </h2> 
	<div>
		<img src="../static/img/contenedores-reciclaje.jpg" width="800"/> 
	</div>
</body>

</html>